<div id="masterBox" class="fcaic">
<div id="headerBox">
  <img src="../assets/images/jess-bike.jpg.jpg" id="jessBike" />
  <div id="greetingBox" class="fcaic">
    <h1>Hello<br>I'm King<br>Choco</h1>
    <p>8-bit yuccie hoodie, viral lyft VHS tumeric. Schlitz gastropub kombucha, meditation cray church-key neutra farm-to-table lomo pinterest disrupt. Franzen snackwave squid portland.</p>
  </div>
  <div id="blueBox" class="fcaic">
    <h2>Choco</h2>
  </div>
  <div id="lightBox" class="fcaic">
    <p>Raw denim wayfarers deep v swag. Air plant mustache edison bulb</p>
    <p>Chillwave street art enamel pin dreamcatcher migas distillery waistcoat, paleo intelligentsia pug actually aesthetic single-origin coffee glossier.</p>
  <div id="logoRow">
    <img src="../assets/images/drum-set.png.png" />
    <img src="../assets/images/fishing.png.png" />
    <img src="../assets/images/bicycle.png.png" />
  </div>
  </div>
</div>
</div>