#masterBox {
  width: 100%;
  min-height: 100vh;
  background-color: #faeddf;
  font-size: 10px;
}

#backingBar {
  background-color: #faeddf;
  height: 7em;
  width: 120em;
  position: fixed;
  top: 0;
  z-index: 0;
}

#burgerBox {
  position: fixed;
  width: 40px;
  height: 40px;
  justify-content: center;
  transform: translate(-5.5em, -5.5em);
  cursor: pointer;
  z-index: 1;
}

#burger {
  width: 18px;
  height: 3px;
  transform: translate(-5px);
  transition-duration: 0.5s;
}

.burgerMidClosed {
  background-color: #7a5932;
}

.burgerMidOpen {
  background-color: transparent;
}

.burgerMidClosed::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #7a5932;
  transform-origin: left;
  transform: translate(0px, -10px);
  transition-duration: 0.5s;
}

.burgerMidOpen::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #7a5932;
  transform-origin: left;
  transform: translate(0px, -10px) rotate(45deg);
  transition-duration: 0.5s;
}

.burgerMidClosed::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #7a5932;
  transform-origin: left;
  transform: translate(0px, 10px);
  transition-duration: 0.5s;
}

.burgerMidOpen::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #7a5932;
  transform-origin: left;
  transform: translate(0px, 10px) rotate(-45deg);
  transition-duration: 0.5s;
}

nav {
  background-color: #faeddf;
  width: 120em;
  height: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.5s;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navClosed {
  transform: translate(0em, -7em);
}

.navOpen {
  transform: translate(0em, 0em);
}

nav a {
  color: #7a5932;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav a:hover {
  color: #198597;
}

#sideName {
  color: #7a5932;
  font-size: 2em;
  letter-spacing: 0.3em;
  position: fixed;
  z-index: 1;
  transform: rotate(-90deg) translate(-5em, -6.5em);
}

#homeBox {
  width: 120em;
  margin: 7em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#jessBike {
  width: 75em;
  height: 75em;
}

#greetingBox {
  width: 45em;
  height: 75em;
  background-color: #f0deca;
  justify-content: center;
}

#greetingBox h1 {
  font-weight: 200;
  font-size: 8em;
  color: #7a5932;
}

#greetingBox p {
  font-size: 1.4em;
  color: #7a5932;
  margin: 0 5em;
  line-height: 2em;
}

.blueBox {
  width: 75em;
  height: 40em;
  background-color: #198597;
  justify-content: center;
}

.blueBox h2 {
  color: #fcf7f1;
  font-size: 6em;
  font-weight: 300;
}

.orangeBox {
  width: 75em;
  height: 40em;
  background-color: #f8a577;
  justify-content: center;
}

.orangeBox h2 {
  color: #fcf7f1;
  font-size: 6em;
  font-weight: 300;
}

.yellowBox {
  width: 75em;
  height: 40em;
  background-color: #fff48f;
  justify-content: center;
}

.yellowBox h2 {
  color: #9e7e63;
  font-size: 6em;
  font-weight: 300;
}

#lightBox {
  background-color: #fcf7f1;
  width: 45em;
  height: 50em;
  justify-content: center;
}

#lightBox p {
  color: #7a5932;
  line-height: 2em;
}

#lightBox p:first-child {
  font-weight: 500;
  font-size: 2em;
  margin: 0 2em;
}

#lightBox p:nth-child(2) {
  font-size: 1.5em;
  margin: 4em 2em 6em 2em;
}

#logoRow {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoRow div {
  width: 5em;
  height: 5em;
  background-color: #f0deca7a;
  border-radius: 2em 0 2em 0;
}

#logoRow img {
  height: 5em;
  width: auto;
  transform: translate(-1.5em, -1em);
}

#logoRow div:nth-child(2) img {
  transform: translate(1em, -1em);
}

#about {
  width: 45em;
  height: 71em;
  background-color: turquoise;
}

#about img {
  width: 45em;
  height: 100%;
}

#aboutDescription {
  background-color: #f0deca;
  width: 75em;
  height: 70em;
  justify-content: center;
}

#aboutDescription p {
  color: #7a5932;
  line-height: 2em;
  font-size: 1.5em;
  margin: 0 5em;
}

#contactMasterBox img {
  width: 75em;
  height: auto;
}

#contactInfo {
  width: 45em;
  height: 20em;
  background-color: #fcf7f1;
  justify-content: space-around;
}

#contactInfoRoof {
  width: 45em;
  height: 20em;
  background-color: #faeddf;
}

#contactInfo div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 3em;
}

.contactSpacer {
  margin: 0 2em;
}

#contactInfo div a img {
  height: 5em;
  width: auto;
  transition-duration: 0.5s;
}

#contactInfo div a img:hover {
  transform: scale(1.1);
}

#contactInfo div p {
  color: #7a5932;
  font-size: 1.6em;
  font-weight: 500;
}

footer {
  margin: 0 0 2em 0;
}

footer img {
  width: 3em;
  height: 3em;
  transition-duration: 0.5s;
}

footer img:hover {
  transform: scale(1.1);
}

footer p {
  color: #7a5932;
  margin: 1.5em 0 0 0;
}
